@import './boxanimation.css';
@import './sidebar.css';
@import './color.css';

a,
a:hover {
	text-decoration: none;
	color: inherit;
}

.container {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

body article div {
	margin-top: 15px;
	margin-bottom: 15px;
}

nav .flex-container {
	display: flex;
	justify-content: space-between;
}

body .title {
	text-align: center;
}

body .subtitle {
	text-align: center;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.25);
}

/* PDF Embedder */
.pdfobject-container {
	height: 50rem;
	border: 1rem solid rgba(0, 0, 0, 0.1);
}
