.wrapper {
  width: 200px;
  height: 200px;
  margin: 5% auto;
}

.box-area {
  -webkit-animation: animate 10s ease-in-out infinite;
          animation: animate 10s ease-in-out infinite;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 100px 100px 0;
          transform-origin: 100px 100px 0;
}

.box-area div {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
}

.box-area .box1 {
  background-color: white;
  background-image: url("../asset/img/1.png");
  background-size: cover;
  background-position: center center;
}

.box-area .box2 {
  background-color: white;
  background-image: url("../asset/img/2.png");
  background-size: cover;
  background-position: center center;
}

.box-area .box3 {
  background-color: white;
  background-image: url("../asset/img/3.png");
  background-size: cover;
  background-position: center center;
}

.box-area .box4 {
  background-color: white;
  background-image: url("../asset/img/4.png");
  background-size: cover;
  background-position: center center;
}

.box-area .box5 {
  background-color: white;
  background-image: url("../asset/img/5.png");
  background-size: cover;
  background-position: center center;
}

.box-area .box6 {
  background-color: white;
  background-image: url("../asset/img/6.png");
  background-size: cover;
  background-position: center center;
}

.box-area .box1 {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.box-area .box2 {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

.box-area .box3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
          transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.box-area .box4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.box-area .box5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.box-area .box6 {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

@-webkit-keyframes animate {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  }
  33% {
    -webkit-transform: rotateX(0deg) rotateY(-90deg) rotateZ(90deg);
            transform: rotateX(0deg) rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(90deg);
            transform: rotateX(0deg) rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateX(90deg) rotateY(-180deg) rotateZ(90deg);
            transform: rotateX(90deg) rotateY(-180deg) rotateZ(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes animate {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  }
  33% {
    -webkit-transform: rotateX(0deg) rotateY(-90deg) rotateZ(90deg);
            transform: rotateX(0deg) rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(90deg);
            transform: rotateX(0deg) rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateX(90deg) rotateY(-180deg) rotateZ(90deg);
            transform: rotateX(90deg) rotateY(-180deg) rotateZ(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
  overflow-y: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
  padding: 0px;
}

.sidebar-nav {
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0vw;
  }
  #wrapper.toggled {
    padding-left: 50vw;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 50vw;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .sidebar-nav {
    width: 50vw;
  }
}

body {
  color: #545454;
  background-color: #fafafa;
}

html .background--color-primary-darker {
  background-color: hsl(194, 100%, 24%);
}

html .text--color-primary-darker {
  color: hsl(194, 100%, 24%);
}

html .background--color-primary-dark {
  background-color: hsl(194, 100%, 34%);
}

html .text--color-primary-dark {
  color: hsl(194, 100%, 34%);
}

html .background--color-primary {
  background-color: hsl(194, 100%, 44%);
}

html .text--color-primary {
  color: hsl(194, 100%, 44%);
}

html .background--color-primary-light {
  background-color: hsl(194, 100%, 54%);
}

html .text--color-primary-light {
  color: hsl(194, 100%, 54%);
}

html .background--color-primary-lighter {
  background-color: hsl(194, 100%, 64%);
}

html .text--color-primary-lighter {
  color: hsl(194, 100%, 64%);
}

html .background--color-accent-darker {
  background-color: hsl(283, 69%, 36%);
}

html .text--color-accent-darker {
  color: hsl(283, 69%, 36%);
}

html .background--color-accent-dark {
  background-color: hsl(283, 69%, 46%);
}

html .text--color-accent-dark {
  color: hsl(283, 69%, 46%);
}

html .background--color-accent {
  background-color: hsl(283, 69%, 56%);
}

html .text--color-accent {
  color: hsl(283, 69%, 56%);
}

html .background--color-accent-light {
  background-color: hsl(283, 69%, 66%);
}

html .text--color-accent-light {
  color: hsl(283, 69%, 66%);
}

html .background--color-accent-lighter {
  background-color: hsl(283, 69%, 76%);
}

html .text--color-accent-lighter {
  color: hsl(283, 69%, 76%);
}

html .background--color-black {
  background-color: hsl(0, 0%, 33%);
}

html .text--color-black {
  color: hsl(0, 0%, 33%);
}

html .background--color-white {
  background-color: hsl(0, 0%, 98%);
}

html .text--color-white {
  color: hsl(0, 0%, 98%);
}

html .background--color-warning-darker {
  background-color: hsl(37, 100%, 34%);
}

html .text--color-warning-darker {
  color: hsl(37, 100%, 34%);
}

html .background--color-warning-dark {
  background-color: hsl(37, 100%, 44%);
}

html .text--color-warning-dark {
  color: hsl(37, 100%, 44%);
}

html .background--color-warning {
  background-color: hsl(37, 100%, 54%);
}

html .text--color-warning {
  color: hsl(37, 100%, 54%);
}

html .background--color-warning-light {
  background-color: hsl(37, 100%, 64%);
}

html .text--color-warning-light {
  color: hsl(37, 100%, 64%);
}

html .background--color-warning-lighter {
  background-color: hsl(37, 100%, 74%);
}

html .text--color-warning-lighter {
  color: hsl(37, 100%, 74%);
}

html .background--color-success-darker {
  background-color: hsl(94, 48%, 36%);
}

html .text--color-success-darker {
  color: hsl(94, 48%, 36%);
}

html .background--color-success-dark {
  background-color: hsl(94, 48%, 46%);
}

html .text--color-success-dark {
  color: hsl(94, 48%, 46%);
}

html .background--color-success {
  background-color: hsl(94, 48%, 56%);
}

html .text--color-success {
  color: hsl(94, 48%, 56%);
}

html .background--color-success-light {
  background-color: hsl(94, 48%, 66%);
}

html .text--color-success-light {
  color: hsl(94, 48%, 66%);
}

html .background--color-success-lighter {
  background-color: hsl(94, 48%, 76%);
}

html .text--color-success-lighter {
  color: hsl(94, 48%, 76%);
}

html .background--color-error-darker {
  background-color: hsl(343, 98%, 44%);
}

html .text--color-error-darker {
  color: hsl(343, 98%, 44%);
}

html .background--color-error-dark {
  background-color: hsl(343, 98%, 54%);
}

html .text--color-error-dark {
  color: hsl(343, 98%, 54%);
}

html .background--color-error {
  background-color: hsl(343, 98%, 64%);
}

html .text--color-error {
  color: hsl(343, 98%, 64%);
}

html .background--color-error-light {
  background-color: hsl(343, 98%, 74%);
}

html .text--color-error-light {
  color: hsl(343, 98%, 74%);
}

html .background--color-error-lighter {
  background-color: hsl(343, 98%, 84%);
}

html .text--color-error-lighter {
  color: hsl(343, 98%, 84%);
}

html .background--color-bg {
  background-color: hsl(0, 0%, 100%);
}

html .text--color-bg {
  color: hsl(0, 0%, 100%);
}

html .background--color-contrast-lower {
  background-color: hsl(0, 0%, 95%);
}

html .text--color-contrast-lower {
  color: hsl(0, 0%, 95%);
}

html .background--color-contrast-low {
  background-color: hsl(240, 1%, 83%);
}

html .text--color-contrast-low {
  color: hsl(240, 1%, 83%);
}

html .background--color-contrast-medium {
  background-color: hsl(240, 1%, 48%);
}

html .text--color-contrast-medium {
  color: hsl(240, 1%, 48%);
}

html .background--color-contrast-high {
  background-color: hsl(240, 4%, 20%);
}

html .text--color-contrast-high {
  color: hsl(240, 4%, 20%);
}

html .background--color-contrast-higher {
  background-color: hsl(240, 8%, 12%);
}

html .text--color-contrast-higher {
  color: hsl(240, 8%, 12%);
}

.song-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

.song-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avatar-root {
  margin: 10px 10px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avatar {
  color: transparent;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}

pre#liveCodeContainer {
  padding: 15px;
  overflow-x: hidden;
}

pre#liveCodeContainer code#liveCode {
  min-height: 80vh;
  max-height: 80vh;
  max-width: 100%;
}

pre .hljs-comment,
pre .hljs-title {
  color: #969896;
}

pre .hljs-variable,
pre .hljs-attribute,
pre .hljs-tag,
pre .hljs-regexp,
pre .hljs-ruby .hljs-constant,
pre .hljs-xml .hljs-tag .hljs-title,
pre .hljs-xml .hljs-pi,
pre .hljs-xml .hljs-doctype,
pre .hljs-html .hljs-doctype,
pre .hljs-css .hljs-id,
pre .hljs-css .hljs-class,
pre .hljs-css .hljs-pseudo {
  color: #569CD6;
}

pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: #e78c45;
}

pre .hljs-class,
pre .hljs-ruby .hljs-class .hljs-title,
pre .hljs-css .hljs-rules .hljs-attribute {
  color: #e7c547;
}

pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .hljs-symbol,
pre .hljs-xml .hljs-cdata {
  color: #D69D85;
}

pre .hljs-css .hljs-hexcolor {
  color: #70c0b1;
}

pre .hljs-function,
pre .hljs-python .hljs-decorator,
pre .hljs-python .hljs-title,
pre .hljs-ruby .hljs-function .hljs-title,
pre .hljs-ruby .hljs-title .hljs-keyword,
pre .hljs-perl .hljs-sub,
pre .hljs-javascript .hljs-title,
pre .hljs-coffeescript .hljs-title {
  color: #7aa6da;
}

pre .hljs-keyword,
pre .hljs-javascript .hljs-function {
  color: #c397d8;
}

pre code {
  display: block;
  background: black;
  color: #eaeaea;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: -4hljs;
  border: 1px solid #ccc;
  padding: 10px;
  white-space: pre;
  overflow-x: scroll;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

body article div > h4:first-child,
form {
  margin-top: 15px;
  margin-bottom: 15px;
}

nav .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  overflow-x: hidden;
}

body h1,
body h2,
body h3.title {
  text-align: center;
  color: #009ccc;
}

body h4 {
  color: #a628d7;
}

body h5 {
  color: #ff9d00;
}

body .subtitle {
  text-align: center;
}

.nav-item {
  margin: 0 20 px;
}

.nav-item .fab {
  margin: 0 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
}

/* PDF Embedder */
.pdfobject-container {
  height: 50rem;
  border: 1rem solid rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */